DB_URL=
DB_USERNAME=
DB_PASSWORD=

JPA_DDL_AUTO=
SHOW_SQL=


JWT_SECRET=

# Thời gian sống của Access Token (15 phút = 900 giây)
JWT_ACCESS_EXPIRE=

# Thời gian sống của Refresh Token (7 ngày = 604800 giây)
JWT_REFRESH_EXPIRE=