# Database Configuration
POSTGRES_DB=
DB_USERNAME=
DB_PASSWORD=
DB_URL=
DOCKER_DB_URL=

# JPA / Hibernate Configuration
JPA_DDL_AUTO=
SHOW_SQL=

# JWT Secret & Expiration Configuration
JWT_SECRET=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_EXPIRE=

# Email Configuration (SMTP)
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
DOCKER_REDIS_HOST=

# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
DOCKER_RABBITMQ_HOST=

# Application Ports
APP_PORT=
POSTGRES_PORT=

# password for user
PASSWORD_DEFAULT=